<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Окно работы с дроном</title>
  </head>
  <body>
    <h2>Окно работы с дроном</h2>
    <a href="{{ url_for('choice_drone') }}"><button>Выбор дрона</button></a>
    <a href="{{ url_for('missions') }}"><button>Миссии</button></a>
    <a href="{{ url_for('new_drone') }}"><button>Добавление нового дрона</button></a>
    <a href="{{ url_for('new_post') }}"><button>Добавление нового пользователя</button></a>
    <p>Выбранный дрон - {{ current_drone }}</p>
  </body>
</html>